<div class="flex w-full justify-center items-center min-h-screen">
  <form class="card bg-base-100 w-96 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">User profile</h2>
      <label class="input input-bordered flex items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="h-4 w-4 opacity-70"
        >
          <path
            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"
          />
        </svg>
        <input
          type="text"
          class="grow"
          placeholder="first name"
          [value]="userConfigStore.firstName()"
          (input)="userConfigStore.updateState('firstName', $event)"
        />
      </label>
      <label class="input input-bordered flex items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="h-4 w-4 opacity-70"
        >
          <path
            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"
          />
        </svg>
        <input
          type="text"
          class="grow"
          placeholder="last name"
          [value]="userConfigStore.lastName()"
          (input)="userConfigStore.updateState('lastName', $event)"
        />
      </label>
      <!-- <div class="card-actions justify-end">
        <button class="btn btn-primary">Buy Now</button>
      </div> -->
    </div>
  </form>
</div>
